<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <%- include('partials/navigation', { menuLinks, activeLinkPath }); %>

      <h1 class="heading">Newest Product</h1>

      <% if (newestProduct?.name) { %>
        <div>
          Name: <%= newestProduct.name %><br />
          Description: <%= newestProduct.description %><br />
          Price: $<%= newestProduct.price.toFixed(2) %>
        </div>
      <% } else { %>
        <div>No new products found.</div>
      <% } %>
    </main>
  </body>
</html>
